@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --Kanit: 'Kanit', 'sans-serif';
}

.container {
    max-width: 87%;
    margin: 0 auto;
}


body {
    background-color: #F5FFF9;
}



/* home style */
.home_sec {
    height: 735;
}

.nav_logo h1 {
    font-family: var(--Kanit);
    font-weight: 400;
    font-style: normal;
    font-size: 45;
}


.nav_logo span {
    color: #36B449;
}

h1 a{
    color: black;
    text-decoration: none;
}
.navbar {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.nav_menu {
    padding-top: 18px;
}

.nav_menu a {
    color: #36B449;
    text-decoration: none;
    font-family: var(--Kanit);
    font-weight: 300;
    font-size: 25;
    padding-right: 10px;
}

.nav_menu a i {
    padding-right: 3px;
}

.search_sec{
    display: flex;
}

.search{
    display: flex;
    margin-right: 20px;
}

.search input{
    background-color: #fff;
    border: 2px solid #36B449;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 200;
    height: 45;
}

.search input::placeholder{
    padding-left: 5px;
    font-family: var(--Kanit);
    font-weight: 300;
    font-size: 18;
}

.search button{
    background-color: #36B449;
    color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid #36B449;
    width: 25;
}

.search_result{
    margin-bottom: 250px;
}

.search_result h2 span{
    color: #36B449;
}

.search_result h2{
    font-family: var(--Kanit);
    font-weight: 400;
    font-size: 30;
}

.search_result a{
    font-family: var(--Kanit);
    font-weight: 300;
    font-size: 25;
    color: #36B449;
}



.home p {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
    max-width: 650;
    text-align: center;
    font-size: 25;
    margin-left: 320;
    margin-top: 150px;

}

/* home style */





/* statistics  style */

.stat_sec {
    height: 400;
}

.stats {
    padding: 90 0;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}



.stat h3 {

    color: #36B449;
    text-align: center;
    font-size: 100;
}

.stat h1 {
    font-size: 45;
    text-align: center;
    font-family: sans-serif;
    margin-top: 15px;
    color: #333;
}

.stat h2 {
    text-align: center;
    font-family: sans-serif;
    font-size: 35;
    color: #333;
}

/* statistics  style */




/* about style */

.about_sec {
    height: 600;
}


.about h1 {
    font-family: var(--Kanit);
    font-weight: 500;
    font-size: 50;
    color: #36B449;
    padding-top: 45px;
}

.about p {
    margin-top: 15px;
    font-family: var(--Kanit);
    font-weight: 300;
    font-size: 20;

}

/* about style */




/* teachers style */
.teach_img img {
    width: 300;
    border-radius: 5px;
}

.teachs_sec {
    margin-top: 100px;
    height: 630;
}

.teachs_sec h1 {
    font-family: var(--Kanit);
    font-weight: 500;
    font-size: 55;
    margin-left: 10px;
    color: #36B449;
}

.teachs_sec p {
    font-family: var(--Kanit);
    font-weight: 300;
    font-size: 23;
}

.teachs {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.teach_img {
    display: flex;
    justify-content: center;
}

.teach_social {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.teach_social a {
    font-size: 30;
    padding-right: 13px;
    color: #555;
    transition-duration: .3s;
}

.teach_social a:hover {
    cursor: pointer;
    color: #36B449;
}

/* teacher style */




/* contact style */
.contact_sec {
    height: 600;
    margin-top: 50px;
}

.contact_us {
    display: grid;
    grid-template-columns: 50% 50%;
}

iframe {
    height: 600;
    width: 759;
}

.contact {
    padding-top: 20px;
}

.contact h1 {
    color: #36B449;
    font-family: var(--Kanit);
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 50;
}

.contact input {
    width: 630;
    height: 60;
    border: none;
    border-radius: 20px;
    margin-bottom: 10px;
}

.contact input::placeholder {
    font-size: 18;
    font-family: var(--Kanit);
    font-weight: 300;
    padding-left: 7px;
}

.contact textarea {
    width: 629;
    display: block;
    height: 150;
    border: none;
    border-radius: 20px;
    margin-bottom: 10px;
}

.contact textarea::placeholder {
    font-size: 18;
    font-family: var(--Kanit);
    font-weight: 300;
    padding-left: 7px;
    padding-top: 5px;
}

.contact button {
    width: 630;
    height: 60;
    color: white;
    font-family: var(--Kanit);
    font-weight: 400;
    font-size: 25;
    background-color: #36B449;
    border: none;
    border-radius: 20px;
    margin-bottom: 10px;
    transition: .5s ease;
}

.contact button:hover {
    background-color: #fff;
    color: #36B449;
    cursor: pointer;
}

/* contact */



/* footer */
.footer_sec {
    background-color: white;
    height: 300;
}

.footer {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

.footer h1 {
    font-family: var(--Kanit);
    font-weight: 500;
    font-size: 50;
}

.footer h1 span {
    color: #36B449;
}

.menu a {
    display: block;
    text-decoration: none;
    color: #36B449;
    font-family: var(--Kanit);
    font-weight: 400;
    font-size: 20;
    margin-bottom: 8px;
}


.end {
    background-color: #36B449;
    height: 80;
    display: flex;
    justify-content: center;
}

.end p {
    color: white;
    font-family: var(--Kanit);
    font-weight: 300;
    font-size: 20;
    padding-top: 20px;
}

/* footer */




/* users list */
.teachers_list {
    margin-top: 10px;
}

.teachers_list h1 {
    color: #36B449;
    font-family: var(--Kanit);
    font-weight: 500;
    font-size: 50;
}

.teacher_l {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
}

.teacher_l td,
.teacher_l th {
    border: 1px solid #ddd;
    padding: 8px;
}

.teacher_l td{
    font-family: var(--Kanit);
    font-weight: 400;
    font-size: 20;
}

.teacher_l tr{
    transition: .2s;

}

.teacher_l tr:nth-child(even) {
    background-color: #fff;
}

.teacher_l tr:hover {
    background-color: #36B449;
    color: white;
}

.teacher_l td a:hover{
    color: white;

}

.teacher_l th {
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: var(--Kanit);
    font-weight: 400;
    font-size: 25 ;
    text-align: left;
    background-color: #36B449;
    color: white;
}


/* user list style */





/* user style */
.user{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 45% 55%;
    margin-bottom: 100px;
}

.user_img img{
    width: 97%;
    margin-top: 10px;
}

.user h1{
    color: #36B449;
    font-family: var(--Kanit);
    font-weight: 500;
    font-size: 35;

}

.user p{
    font-family: var(--Kanit);
    font-weight: 300;
    font-size: 25;
    color: #555;
    margin-bottom: 10px;

}

.user .del {
    background-color: #EB4C42;
}

.user .del:hover{
    background-color: #D30E00;
    color: white;
}

.user button{
    display: block;
    width: 135;
    height: 45;
    margin-top: 5px;
    background-color: #36B449;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    font-family: var(--Kanit);
    font-weight: 300;
    font-size: 20;
    margin-right: 5px;
}

.user button a{
    color: white;
    text-decoration: none;    
}
.user button:hover{
    background-color: #009D18;
    color: white;
}

.user_btn{
    margin-top: 20px;
    display: flex;
}



.user_img input[type="file"]::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    margin-top: 10px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
  }
  
.user_img  input[type="file"]::file-selector-button:hover {
    background-color: #f3f4f6;
  }
  
.user_img  input[type="file"]::file-selector-button:active {
    background-color: #e5e7eb;
  }
  


/* user style */


/* lessons list */
.lessons{
    margin-top: 15px;
}

.lesson{
    margin-bottom: 15px;    
    display: grid;
    grid-template-columns: 60% 40%;
}


.lesson_vid img{
    margin-top: 15px;
    width: 98%;
}

.lesson_vid video{
    width: 100%;
}

.about_lesson{
    display: block;
    margin-bottom: 20px;
}

.about_lesson h1{
    font-family: var(--Kanit);
    font-weight: 500;
    color: #36B449;
    font-size: 45;
    margin-top: 5px;
}

.about_lesson a{
    color: white;
    text-decoration: none;
}

.about_lesson p{
    font-family: var(--Kanit);
    font-size: 23;
    font-weight: 200;
}

.about_lesson .del {
    background-color: #EB4C42;
}

.about_lesson .del:hover{
    background-color: #D30E00;
    color: white;
}

.about_lesson button{
    width: 120;
    height: 45;
    background-color: #36B449;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    font-family: var(--Kanit);
    font-weight: 300;
    font-size: 20;
}

.about_lesson button:hover{
    background-color: #009D18;
    color: white;
}

.lesson_delete p{
    font-family: var(--Kanit);
    font-weight: 400;
    text-align: center;
    font-size: 30;
}
.lesson_delete p a{
    color: #36B449;
    text-decoration: none;
}

.lesson_delete{
    margin: 250 0;
}


.lesson_delete span{
    color: #36B449;
    font-size: 35;
}

.lesson_delete_btn{
    display: flex;
    justify-content: center;
}

.lesson_delete_btn button{
    background-color: #36B449;
    color: white;
    width: 200;
    height: 45;
    border: 3px solid white;
    border-radius: 8px;
    margin-right: 5px;
    font-size: 18;
    transition: .5s;
}
.lesson_delete_btn button:hover{
    background-color: #009D18;
    color: white;
}


.lesson_delete_btn a{
    color: white;
    text-decoration: none;
}

.lesson_delete_btn .btn{

    background-color: #EB4C42;
}

.lesson_delete_btn .btn:hover{
    background-color: #D30E00;
    color: white;
}



.update_btn .btn1{
    width: 198;
    background-color: #EB4C42;
    color: white;
}

.update_btn .btn1:hover{
    background-color: #D30E00;
    color: white;
}

.update_btn .btn1 a{
    color: white;
    text-decoration: none;
}


.update_btn .btn{
    width: 198;
}

.update_btn .btn:hover{
    background-color: #009D18;
    color: white;
}
/* lesson */





/* add lesson  */
.add_lesson{
    display: flex;
    margin-top: 20px;
    justify-content: center;
}
.add_lesson input{
    display: block;
    width: 400;
    height: 50;
    border: 2px solid #36B449;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #fff;
}



.add_lesson input::placeholder{
    padding-left: 5px;
    font-family: var(--Kanit);
    font-weight: 300;
    font-size: 18;
}

.add_lesson textarea{
    display: block;
    width: 400;
    height: 150;
    border: 2px solid #36B449;
    border-radius: 10px;
    margin-bottom: 10px;
}

.add_lesson textarea::placeholder{
    padding-left: 5px;
    padding-top: 5px;
    font-family: var(--Kanit);
    font-weight: 300;
    font-size: 18;
}

.add_lesson button{
    width: 400;
    background-color: #36B449;
    color: white;
    height: 50;
    border: none;
    border-radius: 10px;
    font-family: var(--Kanit);
    font-weight: 300;
    font-size: 18;
    margin-bottom: 40px;

}



.add_lesson input[type="file"]::file-selector-button {
    padding: 0 16px;
    height: 49px;
    cursor: pointer;
    background-color: #F5FFF9;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: 2px solid #36B449;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    font-size: 15   ;
    transition: background-color 200ms;
    transition: .3s ease;
  }
  
.add_lesson  input[type="file"]::file-selector-button:hover {
    background-color: #36B449;
    color: white;
  }
  
.add_lesson  input[type="file"]::file-selector-button:active {
    background-color: #36B449;
  }
  


/* add lesson style */






/* add user */
.add_teacher_sec {
    display: flex;
    margin-top: 20px;
    justify-content: center ;
}

.add_teacher input{
    display: block;
    width: 400;
    height: 50;
    border: 2px solid #36B449;
    border-radius: 10px;
    margin-bottom: 10;
}


.choose{
    display: flex;
}

.choose input, .chose input{
    width: 35;
}

.choose p, .chose p{
    font-family: var(--Kanit);
    font-weight: 300;
    font-size: 20;
    color: #444;
    margin-top: 5px;
    margin-left: 5px;
}

.chose p{
    font-size: 20;
    margin-bottom: 5px;
}

.add_teacher input::placeholder{
    padding-left: 5px;
    font-family: var(--Kanit);
    font-weight: 300;
    font-size: 18;
}


.add_teacher textarea{
    display: block;
    width: 400;
    height: 150;
    border: 2px solid #36B449;
    border-radius: 10px;
    margin-bottom: 10px;
}

.add_teacher textarea::placeholder{
    padding-left: 5px;
    padding-top: 5px;
    font-family: var(--Kanit);
    font-weight: 300;
    font-size: 18;
}

.add_teacher button{
    margin-top: 20px;
    width: 400;
    background-color: #36B449;
    color: white;
    height: 50;
    border: none;
    border-radius: 10px;
    font-family: var(--Kanit);
    font-weight: 300;
    font-size: 18;
    margin-bottom: 40px;

}


.add_teacher select {
  font-size: 1rem;
  font-weight: normal;
  max-width: 100%;
  padding: 8px 24px 8px 10px;
  border: none;
  background-color: white;
  color: #36B449;
  border: 2px solid #36B449;
  border-radius: 8px;
  appearance: none;
  width: 150;
  height: 45;
}
.add_teacher select:active, .add_teacher select:focus {
  outline: none;
  box-shadow: none;
}

.add_teacher input[type='checkbox']{
    border: 2px solid #36B449;
    border-radius: 8px;
}

.add_teacher:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid #aaa;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}


.profile input[type="file"]::file-selector-button {
    padding: 0 16px;
    height: 49px;
    cursor: pointer;
    background-color: #F5FFF9;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: 2px solid #36B449;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    font-size: 15   ;
    transition: background-color 200ms;
    transition: .3s ease;
  }
  
  /* file upload button hover state */
.profile  input[type="file"]::file-selector-button:hover {
    background-color: #36B449;
    color: white;
  }
  
  /* file upload button active state */
.profile  input[type="file"]::file-selector-button:active {
    background-color: #36B449;
  }
  

.profile p{
    font-family: var(--Kanit);
    font-weight: 300;
    font-size: 25;
    margin-bottom: 5px;
}

.profile input{
    margin-top: 10px;
}


/* add user style */





/* login  style */

.login_sec{
    display: grid;
    grid-template-columns: 50% 50%;
}

.login_sec img{
    width: 650;
}
/* login style */


/* add user */
.add_teacher_sec {
    display: flex;
    margin-top: 20px;
    justify-content: center ;
}

.login{
    margin-top: 240px;
}

.login input{
    display: block;
    width:550;
    height: 50;
    border: 2px solid #36B449;
    border-radius: 10px;
    margin-bottom: 10px;
}

.login input::placeholder{
    padding-left: 5px;
    font-family: var(--Kanit);
    font-weight: 300;
    font-size: 18;
}


.login textarea{
    display: block;
    width: 400;
    height: 150;
    border: 2px solid #36B449;
    border-radius: 10px;
    margin-bottom: 10px;
}

.login textarea::placeholder{
    padding-left: 5px;
    padding-top: 5px;
    font-family: var(--Kanit);
    font-weight: 300;
    font-size: 18;
}

.login button{
    width: 550;
    background-color: #36B449;
    color: white;
    height: 50;
    border: none;
    border-radius: 10px;
    font-family: var(--Kanit);
    font-weight: 300;
    font-size: 18;
    margin-bottom: 40px;

}

button{
    transition: .7s ease;
}


button:hover{
    cursor: pointer;
    background-color: #fff;
    color: #36B449;
}
/* add teacher style */
