{% load static %}
{% load crispy_forms_tags %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<title>Admin</title>

<!-- navbar -->
<div class="container">
    <div class="navbar">
        <div class="nav_logo">
            <h1><a href="{% url 'home' %}"><span>M</span>School</a></h1>
        </div>
        <div class="nav_menu">
            {% if user.is_superuser %}
            <a href="{% url 'lessons' %}"><i class="fa-brands fa-youtube"></i>Lessons</a>
            <a href="{% url 'users' %}"><i class="fa-solid fa-users"></i>Users</a>
            <a href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket"></i>Log Out</a>
            {% elif user.is_teacher %}
            <a href="{% url 'lessons' %}"><i class="fa-brands fa-youtube"></i>Lessons</a>
            <a href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket"></i>Log Out</a>
            {% else %}
            <div class="search_sec">
                <div class="search1">

                </div>
                <div>
                    <a href="{% url 'lessons' %}"><i class="fa-brands fa-youtube"></i>Lessons</a>
                    <a href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket"></i>Log Out</a>
                </div>
            </div>
            {% endif %}

        </div>
    </div>
</div>
<!-- navbar -->


<!-- user  -->
<section class="user_sec">
    <div class="container">
        <div class="user">
            <div class="user_img">
                {% if user.profile.image %}
                <img src="{{ user.profile.image.url }}">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.image}}
                    <button type="submit">SAVE</button>
                </form>
                {% else %}
                <img src="{% static 'images/account.png' %}" alt="">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.image}}
                    <button type="submit">SAVE</button>
                </form>
                {% endif %}

            </div>
            <div class="user_about">
                <h1>Name</h1>
                <p>{{user.first_name}}</p>
                <h1>Email</h1>
                <p>{{user.email}}</p>
                <h1>Age</h1>
                <p>{{user.age}}</p>
                <h1>Place of Living</h1>
                <p>{{user.place_of_living}}</p>
                <h1>Date Joined </h1>
                <p>{{user.date_joined}}</p>
                <h1>
                    {{user.type}}
                </h1>
            </div>
        </div>
    </div>
</section>
<!-- user -->



<!-- footer -->
<section class="footer_sec">
    <div class="container">
        <div class="footer">
            <div class="logo">
                <h1><span>M</span>School</h1>
            </div>
            <div class="menu">
                <a href="#home">HOME</a>
                <a href="#about">ABOUT US</a>
                <a href="#teachers">TEACHERS</a>
                <a href="#contact">CONTACT US</a>
            </div>
        </div>
    </div>
</section>
<div class="end">
    <p>Copyright by MSchool</p>
</div>
<!-- footer -->

