{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<title>Profile</title>
<body>



<!-- header section starts  -->
<header class="header">
    <a href="{% url 'home' %}" class="logo"> <i class="fas fa-graduation-cap"></i> MShool </a>
    <nav class="navbar">
        {% if user.is_superuser %}
        <a href="{% url 'lessons' %}"> <i class="fas fa-angle-right"></i> lessons </a>
        <a href="{% url 'users' %}"> <i class="fas fa-angle-right"></i> users </a>
        <a href="{% url 'logout' %}"> <i class="fas fa-angle-right"></i> log out </a>
        {% else %}
        <a href="{% url 'lessons' %}"> <i class="fas fa-angle-right"></i> lessons </a>
        <a href="{% url 'logout' %}"> <i class="fas fa-angle-right"></i> log out </a>
        {% endif %}
    </nav>
    <div class="share">
        <a href="https://www.facebook.com" class="fab fa-facebook-f"></a>
        <a href="https://twitter.com" class="fab fa-twitter"></a>
        <a href="https://www.youtube.com" class="fab fa-youtube"></a>
        <a href="https://www.instagram.com" class="fab fa-instagram"></a>
    </div>
</header>
<!-- header section ends -->



<!-- profile section starts -->
<section class="profile_sec">
    <div class="container">
        <div class="profile">
            <div class="profile_img">
                {% if user.image %}
                <img src="{{user.image.url}}" alt="">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.image}}
                    <button type="submit">save</button>
                </form>
                {% else %}
                <img src="{% static 'images/account.png' %}" alt="">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.image}}
                    <button type="submit">save</button>
                </form>
                {% endif %}
            </div>
            <div class="profile_content">
                <h3>{{user.first_name}}</h3>
                <p>{{user.email}}</p>
                <p>{{user.place_of_living}}</p>
                <p>{{user.age}} years</p>
                <h4>{{user.type}}</h4>
            </div>
        </div>
    </div>
</section>
<!-- profile section ends -->


</body>


