{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<title>Add Lesson</title>
<body>



    <!-- header section starts  -->
<header class="header">
    <a href="{% url 'home' %}" class="logo"> <i class="fas fa-graduation-cap"></i> MShool </a>
    <nav class="navbar">
        {% if user.is_superuser or user.is_admin or user.is_teacher %}
        <a href="{% url 'lessons' %}"> <i class="fas fa-angle-right"></i> back </a>
        <a href="{% url 'logout' %}"> <i class="fas fa-angle-right"></i> log out </a>
        {% else %}
        <a href="{% url 'lessons' %}"> <i class="fas fa-angle-right"></i> lessons </a>
        <a href="{% url 'logout' %}"> <i class="fas fa-angle-right"></i> log out </a>
        {% endif %}
    </nav>
    <div class="share">
        <a href="https://www.facebook.com" class="fab fa-facebook-f"></a>
        <a href="https://twitter.com" class="fab fa-twitter"></a>
        <a href="https://www.youtube.com" class="fab fa-youtube"></a>
        <a href="https://www.instagram.com" class="fab fa-instagram"></a>
    </div>
</header>
<!-- header section ends -->




<!-- add section starts -->
<section class="add_sec">
    <div class="container">
        {% if user.is_superuser or user.is_admin or user.is_teacher %}
        <div class="add">
            <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.title}}
                    {{form.description}}
                    <div class="chos">
                        <p>choose preview</p>
                        {{form.image}}
                    </div>
                    <div class="chos">
                        <p>choose video</p>
                        {{form.file}}
                    </div>    
                    <button type="submit">Add</button>
            </form>
        </div>
        {% else %}
        <p>you can't add a lesson</p>
        {% endif %}
    </div>
</section>
<!-- add section ends -->

<script>
    var form_fields = document.getElementsByTagName('input')
            form_fields[1].placeholder = 'Title ..';

            var form_fields = document.getElementsByTagName('textarea')
    form_fields[0].placeholder = 'Description...';

</script>
