{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<title>Add User</title>
<body>



    <!-- header section starts  -->
<header class="header">
    <a href="{% url 'home' %}" class="logo"> <i class="fas fa-graduation-cap"></i> MShool </a>
    <nav class="navbar">
        {% if user.is_superuser %}
        <a href="{% url 'lessons' %}"> <i class="fas fa-angle-right"></i> lessons </a>
        <a href="{% url 'users' %}"> <i class="fas fa-angle-right"></i> users </a>
        <a href="{% url 'logout' %}"> <i class="fas fa-angle-right"></i> log out </a>
        {% else %}
        <a href="{% url 'lessons' %}"> <i class="fas fa-angle-right"></i> lessons </a>
        <a href="{% url 'logout' %}"> <i class="fas fa-angle-right"></i> log out </a>
        {% endif %}
    </nav>
    <div class="share">
        <a href="https://www.facebook.com" class="fab fa-facebook-f"></a>
        <a href="https://twitter.com" class="fab fa-twitter"></a>
        <a href="https://www.youtube.com" class="fab fa-youtube"></a>
        <a href="https://www.instagram.com" class="fab fa-instagram"></a>
    </div>
</header>
<!-- header section ends -->




<!-- add section starts -->
<section class="add_sec">
    <div class="container">
        <div class="add">
            {% if user.is_superuser or user.is_admin %}
            <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.first_name }}
                    {{ form.username }}
                    {{ form.email}}
                    {{ form.image}}
                    {{ form.age}}
                    {{ form.place_of_living}}
                    {{ form.password1 }}
                    {{ form.password2 }}
                    <div class="choose">
                        {{ form.is_teacher }}
                        <p>Teacher</p>
                    </div>
                    <div class="choose">
                        {{form.is_pupil}}
                        <p>Pupil</p>
                    </div>
                    <div class="chose">
                        <p>Confirm the role</p>
                        {{form.type}}
                    </div>
                    <button type="submit">Add</button>
            </form>
            {% else %}
            <p>you can't add a user</p>
            {% endif %}
        </div>
    </div>
</section>
<!-- add section ends -->


<script>
    var form_fields = document.getElementsByTagName('input')
            form_fields[1].placeholder = 'Full Name..';
            form_fields[2].placeholder = 'Username..';
            form_fields[3].placeholder = 'Email..';
            form_fields[4].placeholder = 'Image..';
            form_fields[5].placeholder = 'Age..';
            form_fields[6].placeholder = 'Place of Living..';
            form_fields[7].placeholder = 'Password..';
            form_fields[8].placeholder = 'Repeat Password..';


</script>