{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mshool</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    
<!-- header section starts  -->
<header class="header">
    <a href="#" class="logo"> <i class="fas fa-graduation-cap"></i> MShool </a>
    <nav class="navbar">
        <a href="#home"> <i class="fas fa-angle-right"></i> home </a>
        <a href="#about"> <i class="fas fa-angle-right"></i> about </a>
        <a href="#courses"> <i class="fas fa-angle-right"></i> team </a>
        <a href="#contact"> <i class="fas fa-angle-right"></i> contact </a>
        <a href="#reviews"> <i class="fas fa-angle-right"></i> reviews </a>
        {% if user.is_authenticated %}
        <a href="{% url 'account' %}"> <i class="fas fa-angle-right"></i> profile </a>
        {% else %}
        <a href="{% url 'login' %}"> <i class="fas fa-angle-right"></i> log in </a>
        {% endif %}
        
    </nav>
    <div class="share">
        <a href="https://www.facebook.com" class="fab fa-facebook-f"></a>
        <a href="https://twitter.com" class="fab fa-twitter"></a>
        <a href="https://www.youtube.com" class="fab fa-youtube"></a>
        <a href="https://www.instagram.com" class="fab fa-instagram"></a>
    </div>
</header>
<!-- header section ends -->




<!-- home section starts  -->
<section class="home" id="home">
    <div class="image">
        <img src="{% static 'images/home-img.svg' %}" alt="">
    </div>
    <div class="content">
        <span>online education</span>
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, itaque beatae laboriosam nulla odio voluptatibus molestias vero pariatur laborum molestiae.</p>
        <a href="#courses" class="btn">our lessons</a>
    </div>
</section>
<!-- home section ends -->




<!-- info section starts  -->
<section class="info-container">
    <div class="box">
        <i class="fas fa-user-graduate"></i>
        <div class="info">
            <h3>+{{pupils}}</h3>
            <p>students</p>
        </div>
    </div>
    <div class="box">
        <i class="fab fa-youtube"></i>
        <div class="info">
            <h3>+{{lessons}}</h3>
            <p>lessons</p>
        </div>
    </div>
    <div class="box">
        <i class="fas fa-chalkboard-teacher"></i>
        <div class="info">
            <h3>+{{teachers}}</h3>
            <p>teachers</p>
        </div>
    </div>
</section>
<!-- info section ends -->




<!-- about section starts  -->
<section class="about" id="about">
    <div class="image">
        <img src="{% static 'images/about-img.svg' %}" alt="">
    </div>
    <div class="content">
        <span>about us</span>
        <h3>best online platform for e-learning.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi beatae aperiam iusto officia illo porro. Magni, impedit quam saepe iste, vel perspiciatis eum libero magnam doloribus quisquam sint voluptatibus rem.</p>
        <a href="#" class="btn">read more</a>
    </div>
</section>
<!-- about section ends -->



<!-- team section starts  -->
<section class="courses" id="courses">
    <div class="heading">
        <span>our team</span>
        <h3>we provided the best teachers</h3>
    </div>
    <div class="box-container">
        <div class="box">
            <div class="image">
                <img src="{% static 'images/teach1.jpg' %}" alt="">
                <h3>Laziza </h3>
            </div>
            <div class="content">
                <div class="share">
                    <a href="https://www.facebook.com" class="fab fa-facebook-f"></a>
                    <a href="https://twitter.com" class="fab fa-twitter"></a>
                    <a href="https://www.youtube.com" class="fab fa-youtube"></a>
                    <a href="https://www.instagram.com" class="fab fa-instagram"></a>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="image">
                <img src="{% static 'images/teach2.jpg' %}" alt="">
                <h3>Asad</h3>
            </div>
            <div class="content">
                <div class="share">
                    <a href="https://www.facebook.com" class="fab fa-facebook-f"></a>
                    <a href="https://twitter.com" class="fab fa-twitter"></a>
                    <a href="https://www.youtube.com" class="fab fa-youtube"></a>
                    <a href="https://www.instagram.com" class="fab fa-instagram"></a>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="image">
                <img src="{% static 'images/teach3.jpg' %}" alt="">
                <h3>Malika</h3>
            </div>
            <div class="content">
                <div class="share">
                    <a href="https://www.facebook.com" class="fab fa-facebook-f"></a>
                    <a href="https://twitter.com" class="fab fa-twitter"></a>
                    <a href="https://www.youtube.com" class="fab fa-youtube"></a>
                    <a href="https://www.instagram.com" class="fab fa-instagram"></a>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="image">
                <img src="{% static 'images/teach4.jpg' %}" alt="">
                <h3>Jahongir</h3>
            </div>
            <div class="content">
                <div class="share">
                    <a href="https://www.facebook.com" class="fab fa-facebook-f"></a>
                    <a href="https://twitter.com" class="fab fa-twitter"></a>
                    <a href="https://www.youtube.com" class="fab fa-youtube"></a>
                    <a href="https://www.instagram.com" class="fab fa-instagram"></a>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="image">
                <img src="{% static 'images/teach5.jpg' %}" alt="">
                <h3>Kamola</h3>
            </div>
            <div class="content">
                <div class="share">
                    <a href="https://www.facebook.com" class="fab fa-facebook-f"></a>
                    <a href="https://twitter.com" class="fab fa-twitter"></a>
                    <a href="https://www.youtube.com" class="fab fa-youtube"></a>
                    <a href="https://www.instagram.com" class="fab fa-instagram"></a>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="image">
                <img src="{% static 'images/teach6.jpg' %}" alt="">
                <h3>Aziz</h3>
            </div>
            <div class="content">
                <div class="share">
                    <a href="https://www.facebook.com" class="fab fa-facebook-f"></a>
                    <a href="https://twitter.com" class="fab fa-twitter"></a>
                    <a href="https://www.youtube.com" class="fab fa-youtube"></a>
                    <a href="https://www.instagram.com" class="fab fa-instagram"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- team section ends -->



<!-- contact section starts  -->
<section class="contact" id="contact">
    <div class="heading">
        <span>contact us</span>
        <h3>get in touch</h3>
    </div>
    <div class="row">
        <div class="contact-info-container">
            <div class="box">
                <i class="fas fa-phone"></i>
                <div class="info">
                    <h3>phone :</h3>
                    <p>+998 91 444 23 32</p>
                    <p>+998 99 333 45 54</p>
                </div>
            </div>
            <div class="box">
                <i class="fas fa-envelope"></i>
                <div class="info">
                    <h3>email :</h3>
                    <p>mshool@gmail.com</p>
                    <p>myschool@gmail.com</p>
                </div>
            </div>
            <div class="box">
                <i class="fas fa-map"></i>
                <div class="info">
                    <h3>address :</h3>
                    <p>Bukhara - 12345</p>
                </div>
            </div>
            <div class="share">
                <a href="https://www.facebook.com" class="fab fa-facebook-f"></a>
                <a href="https://twitter.com/" class="fab fa-twitter"></a>
                <a href="https://www.youtube.com/" class="fab fa-youtube"></a>
                <a href="https://www.linkedin.com/" class="fab fa-linkedin"></a>
            </div>   
        </div>
        <form action="/contact" method="post">
            {% csrf_token %}
            <div class="inputBox">
                <input type="text" placeholder="name" name="fullname" id="">
                <input type="email" placeholder="email" name="email" id="">
            </div>
            <div class="inputBox">
                <input type="number" placeholder="phone" name="phonenumber" id="">
                <input type="text" placeholder="age" name="age" id="">
            </div>
            <textarea name="description" placeholder="message" id="" cols="30" rows="10"></textarea>
            <input type="submit" value="send message" class="btn">
        </form>
    </div>
</section>
<!-- contact section ends -->



<!-- reviews section starts  -->
<section class="reviews" id="reviews">

    <div class="heading">
        <span>client reviews</span>
        <h3>what they say?</h3>
    </div>

    <div class="box-container">

        <div class="box">
            <img src="{% static 'images/client1.jpg' %}" alt="">
            <h3>Aziza</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos repellat sunt a temporibus suscipit distinctio maiores iste tenetur voluptate nostrum.</p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>

        <div class="box">
            <img src="{% static 'images/client3.jpg' %}" alt="">
            <h3>Azamat</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos repellat sunt a temporibus suscipit distinctio maiores iste tenetur voluptate nostrum.</p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>

        <div class="box">
            <img src="{% static 'images/client2.jpg' %}" alt="">
            <h3>Kamila</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos repellat sunt a temporibus suscipit distinctio maiores iste tenetur voluptate nostrum.</p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>

    </div>

</section>
<!-- reviews section ends -->

</body>
</html>