{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
    <!-- home  -->
    <section class="home_sec">
        <div class="container">
            <div class="home">
                <!-- navbar -->
                <div class="navbar">
                    <div class="nav_logo">
                        <h1><span>M</span>School</h1>
                    </div>
                    <div class="nav_menu">
                        <a href="#">HOME</a>
                        <a href="#">COURSES</a>
                        <a href="#">TEACHER</a>
                        <a href="#">ADMIN</a>
                    </div>
                </div>
                <!-- navbar -->
            </div>
        </div>
    </section>
    <!-- home -->

</body>
</html>