{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link href="https://vjs.zencdn.net/8.10.0/video-js.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<title>{{lesson.title}}</title>
<body>



    <!-- header section starts  -->
<header class="header">
    <a href="{% url 'home' %}" class="logo"> <i class="fas fa-graduation-cap"></i> MShool </a>
    <nav class="navbar">
        {% if user.is_superuser or user.is_admin or user.is_teacher %}
            <a href="{% url 'lessons' %}"> <i class="fas fa-angle-right"></i> back </a>
            <a href="{% url 'logout' %}"> <i class="fas fa-angle-right"></i> log out </a>
            {% else %}
            <a href="{% url 'lessons' %}"> <i class="fas fa-angle-right"></i> back </a>
            <a href="{% url 'logout' %}"> <i class="fas fa-angle-right"></i> log out </a>
            {% endif %}
    </nav>
    <div class="share">
        <a href="https://www.facebook.com" class="fab fa-facebook-f"></a>
        <a href="https://twitter.com" class="fab fa-twitter"></a>
        <a href="https://www.youtube.com" class="fab fa-youtube"></a>
        <a href="https://www.instagram.com" class="fab fa-instagram"></a>
    </div>
</header>
<!-- header section ends -->



<!-- lesson section starts -->
<section class="lesson_sec">
    <div class="container">
        <div class="lesson">
            <div class="lesson_vid">
                <video
                        id="my-video"
                        class="video-js"
                        controls
                        preload="auto"
                        data-setup="{}"
                    >
                        <source src="{% url 'stream' lesson.id %}" type="video/mp4"/>
                        <source src="{% url 'stream' lesson.id %}" type="video/webm"/>
                    </video>
            </div>
            <div class="lesson_desc">
                <h1>{{lesson.title}}</h1>
                <p>{{lesson.description}}</p>
                {% if user.is_admin or user.is_superuser or user.is_teacher %}
                <button class="dbtn"><a href="{% url 'lesson_delete' lesson.id %}">Delete</a></button>
                <button><a href="{% url 'lesson_update' lesson.id %}">Update</a></button>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<!-- lesson sectin ends -->

