{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link href="https://vjs.zencdn.net/8.10.0/video-js.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<title>delete - {{lesson.title}}</title>
<body>

    <!-- header section starts  -->
    <header class="header">
        <a href="#" class="logo"> <i class="fas fa-graduation-cap"></i> MShool </a>
        <nav class="navbar">
            {% if user.is_superuser or user.is_admin or user.is_teacher %}
            <a href="{% url 'lessons' %}"> <i class="fas fa-angle-right"></i> back </a>
            <a href="{% url 'logout' %}"> <i class="fas fa-angle-right"></i> log out </a>
            {% else %}
            <a href="{% url 'lessons' %}"> <i class="fas fa-angle-right"></i> lessons </a>
            <a href="{% url 'logout' %}"> <i class="fas fa-angle-right"></i> log out </a>
            {% endif %}
        </nav>
        <div class="share">
            <a href="https://www.facebook.com" class="fab fa-facebook-f"></a>
            <a href="https://twitter.com" class="fab fa-twitter"></a>
            <a href="https://www.youtube.com" class="fab fa-youtube"></a>
            <a href="https://www.instagram.com" class="fab fa-instagram"></a>
        </div>
    </header>
    <!-- header section ends -->

    
    <form action="" method="post">
    <div class="del">
        {% csrf_token %}
        {{form}}
        <p>are yo sure to delete this lesson "<a href="{% url 'lesson' lesson.id %}">{{lesson.title}}</a>"</p>
        <div class="del_button">
            <button type="button" class=""><a href="{% url 'lesson' lesson.id %}">cancel</a></button>
            <button type="submit" class="dbtn"><a href="" name="create">delete</a></button>
        </div>
    </div>
    </form>

</body>