{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">



<body>


    <div class="message">
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
    </div>
<!-- header section starts  -->
<header class="header">
    <a href="{% url 'home' %}" class="logo"> <i class="fas fa-graduation-cap"></i> MShool </a>
    <nav class="navbar">
        <a href="{% url 'home' %}"> <i class="fas fa-angle-right"></i> home </a>
        <a href="{% url 'home' %}"> <i class="fas fa-angle-right"></i> contact </a>
    </nav>
    <div class="share">
        <a href="https://www.facebook.com" class="fab fa-facebook-f"></a>
        <a href="https://twitter.com" class="fab fa-twitter"></a>
        <a href="https://www.youtube.com" class="fab fa-youtube"></a>
        <a href="https://www.instagram.com" class="fab fa-instagram"></a>
    </div>
</header>
<!-- header section ends -->





<!-- login section starts -->
<section class="login_sec">
    <div class="container">
        <div class="login">
            <img src="{% static 'images/course-1.svg' %}" alt="">
            <div class="login_input">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form.username }}
                    {{ form.password }}
                    <button>Login</button>
                </form>
            </div>
        </div>
    </div>
</section>

</body>