{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<!-- lessons -->
<div class="container">
    <div class="lessons">
        <div class="lesson">
            <div class="lesson_vid">
                .
            </div>
            <div class="about_lesson">
                <h1>Django Rest FrameWork</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat alias consectetur nesciunt nisi nostrum dignissimos, libero ratione natus, accusantium magni tempore? Nesciunt veniam error quis numquam officiis, reiciendis asperiores quam non expedita. Accusamus eligendi est neque quod hic labore nesciunt, qui quam veritatis iure iusto sunt error dicta quibusdam minima itaque odit consectetur officiis, voluptate facere recusandae nulla, asperiores delectus. Enim nesciunt fuga corporis inventore reiciendis pariatur nulla ullam esse repellendus sequi dolor repudiandae beatae soluta tempora molestias laborum, deserunt quod ipsa maiores possimus rem velit quam. Iure nam minus assumenda consequatur eius voluptas, tempore sunt exercitationem a dolorem molestias.</p>
            </div>
        </div>
    </div>
</div>
<!-- lessons -->