{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<title>users</title>
<body>

    <!-- messages -->
    <div class="message">
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
    </div>


    <!-- header section starts  -->
<header class="header">
    <a href="#" class="logo"> <i class="fas fa-graduation-cap"></i> MShool </a>
    <nav class="navbar">
        {% if user.is_superuser or user.is_admin %}
        <a href="{% url 'users' %}"> <i class="fas fa-angle-right"></i> all users </a>
        {% for type in types %}
            <a href="{% url 'users' %}?type={{ type.slug }}"> <i class="fas fa-angle-right"></i> {{type.name}}s </a>
        {% endfor %}
        <a href="{% url 'add_user' %}"> <i class="fas fa-angle-right"></i> add user </a>
        <a href="{% url 'account' %}"> <i class="fas fa-angle-right"></i> back </a>
        <a href="{% url 'logout' %}"> <i class="fas fa-angle-right"></i> logout  </a>
        {% else %}
        <a href="{% url 'account' %}"> <i class="fas fa-angle-right"></i> back </a>
        <a href="{% url 'logout' %}"> <i class="fas fa-angle-right"></i> logout  </a>
        {% endif %}
    </nav>
    <div class="share">
        <a href="https://www.facebook.com" class="fab fa-facebook-f"></a>
        <a href="https://twitter.com" class="fab fa-twitter"></a>
        <a href="https://www.youtube.com" class="fab fa-youtube"></a>
        <a href="https://www.instagram.com" class="fab fa-instagram"></a>
    </div>
</header>
<!-- header section ends -->




<!-- users section ends -->
<section class="users_sec">
    <div class="container">
        <div class="users">
            <table>
                <thead>
                    <tr>
                        <th>id</th>
                        <th>full name</th>
                        <th>age</th>
                        <th>role</th>
                        <th>location</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{user.id}}</td>
                        <td>{% if user.image %}<img src="{{user.image.url}}" alt="">{% else %} <img src="{% static 'images/account.png' %}" alt="">{% endif %} <a href="{% url 'user' user.id %}">{{user.first_name}}</a></td>
                        <td>{{user.age}}</td>
                        <td style="{% if user.is_teacher%} color:#DE002F;{% elif user.is_admin or user.is_superuser %} color:#00DA30 ;{% else %}color:black;{% endif %}">{{user.type}}</td>
                        <td>{{user.place_of_living}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>




<!-- users section starts -->